export(mchi, mchi_wspp)
export(cm2in, error_bar, se, rnt, all_is_na, length2)
export(read_bt_raw, bt_add_meta, bt_set_meta, bt_combine, bt_long)

S3method(print, mchi)
S3method(bt_combine, bt_raw)
S3method(bt_combine, bt_meta)
S3method(bt_combine, bt_perc)
S3method(bt_combine, bt_count)
S3method(bt_combine, bt_sf)

S3method(summary, bt_raw)
S3method(summary, bt_perc)
S3method(summary, bt_count)
S3method(summary, bt_sf)

S3method(print, bt_raw)
S3method(print, bt_summary)
S3method(print, bt_empty)
S3method(print, bt_meta)
S3method(print, bt_perc)
S3method(print, bt_count)
S3method(print, bt_sf)

S3method(bt_long, bt_meta)
S3method(bt_long, bt_perc)
S3method(bt_long, bt_count)
S3method(bt_long, bt_sf)

S3method(plot, bt_sf)
S3method(plot, bt_perc)
S3method(plot, bt_count)