export(mchi, mchi_wspp)
export(cm2in, compare, make_key, se, rnt, is_zero, all_is_na, map_attributes, sum_on_col)
export(error_bar, set_par, mtexti, setup_plot, theme_takiwaR)
export(read_takRbt, default_takRsec, vals_takRsec)
export(add_takRmeta, set_takRmeta, extract_long, extract_takRmeta, toattr_takRmeta)
export(takRcombine, takRlong, takRvalidate)

S3method(print, mchi)

S3method(takRcombine, takRbt)
S3method(takRcombine, takRmeta)
S3method(takRcombine, takRperc)
S3method(takRcombine, takRcount)
S3method(takRcombine, takRsf)

S3method(summary, takRbt)
S3method(summary, takRperc)
S3method(summary, takRcount)
S3method(summary, takRsf)

S3method(print, takRbt)
S3method(print, summary.takRbt)
S3method(print, takRempty)
S3method(print, takRmeta)
S3method(print, takRperc)
S3method(print, summary.takRperc)
S3method(print, takRcount)
S3method(print, summary.takRcount)
S3method(print, takRsf)
S3method(print, summary.takRsf)
S3method(print, takRsec)

S3method(print, takRwide)

#S3method(takRlong, takRmeta)
S3method(takRlong, takRperc)
S3method(takRlong, takRcount)
S3method(takRlong, takRsf)

S3method(plot, takRsf)
S3method(plot, takRperc)
S3method(plot, takRcount)

S3method(takRvalidate, takRperc)
S3method(takRvalidate, takRcount)
S3method(takRvalidate, takRsf)