/* Custom CSS */
.p-box {
    padding: 1em;
}

.p-box-half {
    padding: 0.5em;
}

.auth-box {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    max-width: 450px;
}

.centre {
    text-align: center;
}

.TAKui-success {
    color: rgb(28, 184, 65); /* this is a green */
}

.TAKui-warning {
     color: rgb(223, 117, 20); /* this is an orange */
}

.TAKui-error {
    color: rgb(202, 60, 60); /* this is a maroon */
}

.TAKui-secondary {
    color: rgb(66, 184, 221); /* this is a light blue */
}

.TAKui-block-success, .TAKui-block-error, .TAKui-block-warning, .TAKui-block-secondary {
    color: white;
    margin: 1em 0 1em 0;
    padding: 1em;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.TAKui-button-success, .TAKui-button-error, .TAKui-button-warning, .TAKui-button-secondary {
    color: white;
}

.TAKui-button-xsmall {
    font-size: 70%;
}

.TAKui-button-small {
    font-size: 85%;
}

.TAKui-button-large {
    font-size: 110%;
}

.TAKui-button-xlarge {
    font-size: 125%;
}

.TAKui-block-success, .TAKui-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.TAKui-block-error, .TAKui-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.TAKui-block-warning, .TAKui-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.TAKui-block-secondary, .TAKui-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.TAKui-disabled {
    color: grey;
}

input:required:valid {
  color: rgb(0, 109, 227); /* Primary blue */
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.main-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.main-menu.pure-menu-open {
    background: #2d3e50;
}

.main-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.main-menu .pure-menu-selected a {
    color: white;
}

.main-menu a {
    color: #6FBEF3;
}
.main-menu li a:hover,
.main-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}

@media (min-width: 48em) {

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .main-menu {
        text-align: left;
    }
    .main-menu ul {
        float: right;
    }
}

/* Survey sections */
section {
    padding: 0 1em;
/*     border-top: 2px solid #e5e5e5; */
}

section h1 {
    display: block;
    font-size: 1.2em;
    margin-left: -0.5em;
/*     border-bottom: 1px solid #e5e5e5; */
}

p.question, p.info, label.question {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p.question span, p.info span, label.question span {
    border-bottom: 1px solid #e5e5e5;
}

p.elaboration {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.elaboration {
    font-size: 0.85em;
}

.italic {
    font-style: italic;
}

span.TAKui-fill-blank {
    
}

textarea {
    width: 90%;
    max-width: 40em;
    height: 5em;
}

#TAKctrl-site-map {
    /* 
    min-height: 500px;
    background: blue;
    */
}

#TAKctrl-site-map p {
    /* font-size: 2em; */
}

#TAKctrl-site-findme {
    width: 100%;
}

.TAKui-button-block {
    line-height: 2.2em;
    display: block;
    margin:1em 0;
}

.TAKui-decision-tree {
    padding: 1em;
    text-align: center;
    min-height: 80px;
}

.TAKui-decision-tree p {
    margin: 0;
}

.TAKui-decision-tree-content {
    /* min-height: 2.5em; */
    padding: 0.5em;
    margin-left: 2.5em;
}

.TAKui-decision-tree-decision-links {
    min-height: 2.5em;
    padding: 0;
    margin-left: 2.5em;
}

.TAKui-decision-tree-control-links {
    float: left;
    min-width: 2em; /* This must correspond the the fa icon class used in the XML doc */
}

.TAKui-hidden {
    visibility: hidden;
}

/* Styles for the checkbox tree */
.TAKctrl-checkboxtree ul {
    list-style-type: none;
    padding-left: 1em;
}


.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
/* .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; } */
.autocomplete-suggestion { padding: 2px 5px; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

/* 
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
 */